<div class = "show-book">
    <div class = "book-title">
    <h5>Title:</h5>
    <p><%= @book.title %></p>
    </div>
    <div class = "book-body">
    <h5>Body:</h5>
    <p><%= @book.body %></p>
    </div>
</div>
<div class = "page-manu">
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <p>|</p>
    <%= link_to "Back", "/books" %>
</div>