<%= form_with do |f| %>

    <h1>ようこそ Bookersへ!</h1>
    <div class = "top-m">
    <p><b>Bookers</b>では、さまざまな書籍に関するあなたの意見や<br>
    印象を共有し交換することができます</p>
    <span>
    <%=link_to "start", "/books" %>
    </span>
    </div>

<% end %>