/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .flash-message.notice {
   padding:0 0 15px 30px;
   color: #33cc66;
 }

body{
  margin: 30px 0 0 30px;
}

.top-m{
  padding:30px 0 0 30px;
  line-height:50px;
}

.book-list{
  width:50%;
  text-align: left;
  font-size: 15px
}

.book-column{
  text-align: center
}

.new-book{
  margin-top: 15px
}

.show-book{
  padding:0 0 15px 30px;
}

.book-title{
  margin-bottom: 15px;
  display: flex
}

.book-body{
  display: flex;
}

.page-manu{
  display: flex;
  font-size: 15px;
}